@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,vietnamese);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #EDEDED;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .03rem;
  line-height: 1.4rem; }

.hide {
  display: none !important; }

[data-tip] {
  position: relative; }

[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid #FF3D4C;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 7px;
  right: 103%;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 0;
  left: -105%;
  padding: .3rem .8rem;
  background: #FF3D4C;
  color: #FFFFFF;
  z-index: 9;
  font-size: 0.75em;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal; }

[data-tip]:after {
  display: block; }

[data-tip]:before {
  display: block; }

label.required input {
  border-color: #FF3D4C !important; }

a {
  text-decoration: none;
  color: #172633; }

input {
  border: 0;
  border-radius: 2px; }

span.tag {
  border-radius: 20px;
  display: inline-block;
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  padding: 0.2rem 1.4rem; }

.skill-tags {
  margin-top: 1.5rem;
  width: 80%; }
  @media screen and (max-width: 420px) {
    .skill-tags {
      width: 100%; } }
  .skill-tags span {
    background: #9F6FAF;
    color: #FFFFFF; }
    .skill-tags span:hover {
      background: #784b87; }
    .skill-tags span a {
      text-decoration: none;
      color: #FFFFFF; }
      .skill-tags span a:hover {
        border: 0; }

.interest-tags {
  margin-top: 3rem;
  width: 60%; }
  @media screen and (max-width: 420px) {
    .interest-tags {
      width: 100%; } }
  .interest-tags span {
    background: #6BBD2E;
    color: #FFFFFF; }
    .interest-tags span:hover {
      background: #487f1f; }
    .interest-tags span a {
      text-decoration: none;
      color: #FFFFFF; }
      .interest-tags span a:hover {
        border: 0; }

.alert {
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  padding: .3rem .7rem; }
  .alert.alert-error {
    border: solid 1px rgba(255, 61, 76, 0.3);
    background: rgba(255, 61, 76, 0.1); }
    .alert.alert-error strong {
      color: #FF3D4C; }

.right {
  float: right; }

.small-btn {
  background: #EDEDED;
  border-radius: 2px;
  display: table;
  padding: 0.3rem 0.7rem; }
  .small-btn:hover {
    background: #e0e0e0; }

.btn {
  border-radius: 2px;
  font-weight: 500;
  padding: .5rem 1rem; }

.big-btn {
  font-size: 1.2rem;
  font-weight: 700; }

.full-width {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .7rem 0; }

.cta {
  background: rgba(107, 189, 46, 0.9);
  color: #FFFFFF; }
  .cta:hover {
    background: #6BBD2E; }

ul.tabs {
  position: relative;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; }
  ul.tabs li {
    background: #FFFFFF;
    width: 100%;
    margin: 0;
    text-align: center; }
    ul.tabs li a {
      border-bottom: solid 1px rgba(237, 237, 237, 0.8);
      color: #adadad;
      display: block;
      padding: .3rem; }
      ul.tabs li a i {
        font-size: 1.5rem;
        display: inline-block;
        padding: .7rem; }
        @media screen and (max-width: 420px) {
          ul.tabs li a i {
            display: none; } }
      ul.tabs li a:hover {
        color: #172633; }
      ul.tabs li a.active {
        font-weight: 600;
        color: #172633;
        border-bottom: solid 3px #172633; }
        ul.tabs li a.active i {
          color: #3997C8; }

.tab-content {
  padding: 2rem;
  color: #444; }
  @media screen and (max-width: 420px) {
    .tab-content {
      padding: 1rem; } }
  .tab-content .item {
    display: block;
    margin-bottom: 1.5rem; }
    .tab-content .item label {
      margin-bottom: 0;
      color: #999;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      font-size: .6rem; }
    .tab-content .item span {
      font-weight: 500; }

header {
  position: fixed;
  background: #172633;
  height: 61px;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
  z-index: 99; }
  header .header-wrapper {
    height: 60px;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    header .header-wrapper h1.logo {
      margin: auto 2rem;
      margin-left: 0;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700; }
      @media screen and (max-width: 420px) {
        header .header-wrapper h1.logo {
          margin: auto auto;
          margin-left: 1rem; } }
    header .header-wrapper .search {
      margin: auto 0;
      margin-right: 20%;
      height: 30px;
      min-width: 320px; }
      @media screen and (max-width: 420px) {
        header .header-wrapper .search {
          display: none; } }
      header .header-wrapper .search input {
        padding: .3rem;
        font-size: .9rem;
        width: 80%; }
      header .header-wrapper .search i {
        color: #EDEDED;
        position: relative;
        left: -8%; }
    header .header-wrapper nav {
      display: block;
      min-width: 30%;
      margin-left: auto;
      margin-right: 0;
      margin: auto 0;
      justify-content: flex-end; }
      header .header-wrapper nav ul.main-navigation {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: middle;
        justify-content: flex-end; }
        header .header-wrapper nav ul.main-navigation li {
          display: flex;
          align-items: middle;
          color: rgba(255, 255, 255, 0.7);
          padding: .3rem .7rem;
          border-radius: 2px; }
          header .header-wrapper nav ul.main-navigation li:hover {
            color: #FFFFFF; }
          header .header-wrapper nav ul.main-navigation li span, header .header-wrapper nav ul.main-navigation li a, header .header-wrapper nav ul.main-navigation li i {
            display: block;
            margin: auto 0; }
          header .header-wrapper nav ul.main-navigation li span, header .header-wrapper nav ul.main-navigation li i {
            padding: 0 .2rem; }
          header .header-wrapper nav ul.main-navigation li a {
            color: rgba(255, 255, 255, 0.7); }
            header .header-wrapper nav ul.main-navigation li a:hover {
              color: #FFFFFF; }
        header .header-wrapper nav ul.main-navigation li.user-profile-links {
          padding: .8rem; }
          @media screen and (max-width: 420px) {
            header .header-wrapper nav ul.main-navigation li.user-profile-links span.user-name {
              display: none; } }
          header .header-wrapper nav ul.main-navigation li.user-profile-links img.menu-profile-picture {
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 2px;
            margin-right: .5rem; }
          header .header-wrapper nav ul.main-navigation li.user-profile-links:hover {
            cursor: pointer; }
          header .header-wrapper nav ul.main-navigation li.user-profile-links:hover > ul.drop-down-list {
            display: block; }
        header .header-wrapper nav ul.main-navigation ul.drop-down-list {
          display: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          margin-left: -10rem;
          background: #172633;
          border-radius: 0 0 2px 2px;
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }
          header .header-wrapper nav ul.main-navigation ul.drop-down-list hr {
            margin: .2rem 0;
            border-color: rgba(255, 255, 255, 0.2); }
          header .header-wrapper nav ul.main-navigation ul.drop-down-list li {
            font-size: .8rem;
            display: block;
            width: 170px;
            padding: .5rem 1rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:first-child {
              margin-top: .3rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:last-child {
              margin-bottom: .3rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:hover {
              background: rgba(255, 255, 255, 0.1); }
        @media screen and (max-width: 420px) {
          header .header-wrapper nav ul.main-navigation li.community {
            display: none; } }
        header .header-wrapper nav ul.main-navigation li.community span, header .header-wrapper nav ul.main-navigation li.community i {
          display: inline-block; }
        header .header-wrapper nav ul.main-navigation li.community i {
          font-size: 1.2rem; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: flex-start; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 420px) {
    main {
      display: block; } }
  main .card {
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
    padding: 1rem;
    margin-bottom: 2rem; }
  main .left-bar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    margin-right: auto;
    justify-content: flex-start; }
    main .left-bar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main .left-bar {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%; }
        main .left-bar:last-child {
          margin-right: 0; } }
  main .right-bar {
    background: #FFFFFF;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    main .right-bar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main .right-bar {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%;
        margin-right: 0; }
        main .right-bar:last-child {
          margin-right: 0; } }
  main .main-information {
    display: flex;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    main .main-information::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 420px) {
      main .main-information {
        display: block; } }
    main .main-information .user-profile-picture {
      width: 15rem; }
      @media screen and (max-width: 420px) {
        main .main-information .user-profile-picture {
          float: left;
          display: block;
          margin-right: 7.4229703521%;
          width: 100%;
          margin: 0; }
          main .main-information .user-profile-picture:last-child {
            margin-right: 0; } }
    main .main-information .user-profile-picture img {
      display: block;
      width: 160px;
      height: 160px;
      padding: 4px;
      border: solid 1px #EDEDED;
      border-radius: 2px; }
      @media screen and (max-width: 420px) {
        main .main-information .user-profile-picture img {
          margin: 0 auto;
          margin-bottom: 1rem; } }
    main .main-information .user-main-details {
      margin-top: .5rem; }
      @media screen and (max-width: 420px) {
        main .main-information .user-main-details {
          display: block;
          text-align: center; } }
      main .main-information .user-main-details .actions {
        float: right;
        display: flex;
        justify-content: flex-end; }
        @media screen and (max-width: 420px) {
          main .main-information .user-main-details .actions {
            display: block;
            width: 100%;
            margin-bottom: 1rem; } }
        main .main-information .user-main-details .actions .small-btn {
          margin-bottom: .5rem;
          font-size: .8rem;
          display: inline-block;
          margin-right: .5rem; }
          main .main-information .user-main-details .actions .small-btn i {
            margin-right: .2rem; }
          main .main-information .user-main-details .actions .small-btn:hover {
            background: #3997C8;
            color: #FFFFFF;
            cursor: pointer;
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }
          main .main-information .user-main-details .actions .small-btn.more:hover {
            background: #EDEDED;
            color: #444; }
            main .main-information .user-main-details .actions .small-btn.more:hover ul.dropdown {
              display: block; }
        main .main-information .user-main-details .actions .more {
          position: relative; }
          main .main-information .user-main-details .actions .more ul.dropdown {
            display: none;
            list-style: none;
            position: absolute;
            top: 50%;
            left: -185%; }
            main .main-information .user-main-details .actions .more ul.dropdown li {
              color: rgba(68, 68, 68, 0.8);
              background: #EDEDED;
              width: 161px;
              padding: .3rem .7rem; }
              main .main-information .user-main-details .actions .more ul.dropdown li:first-child {
                border-radius: 2px 0 0 0; }
              main .main-information .user-main-details .actions .more ul.dropdown li:last-child {
                border-radius: 0 0 2px 2px; }
              main .main-information .user-main-details .actions .more ul.dropdown li:hover {
                color: #444444; }
      main .main-information .user-main-details h2 {
        display: block;
        margin: 0;
        color: #444; }
      main .main-information .user-main-details .current-work-place {
        margin-top: .2rem;
        display: block;
        font-size: .8em;
        color: #c7c7c7;
        width: 60%;
        font-weight: 400; }
        @media screen and (max-width: 420px) {
          main .main-information .user-main-details .current-work-place {
            width: 100%; } }
  main .more-information #overview .current-contacts {
    width: 50%;
    background: rgba(57, 151, 200, 0.1);
    border: solid 1px rgba(57, 151, 200, 0.5);
    padding: 1rem;
    border-radius: 2px;
    position: relative;
    top: 5px;
    right: 0;
    float: right;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }
    @media screen and (max-width: 420px) {
      main .more-information #overview .current-contacts {
        display: block;
        width: 100%;
        margin-bottom: 2rem; } }
    main .more-information #overview .current-contacts label {
      display: block;
      margin-bottom: 1rem;
      color: #172633;
      font-weight: 600; }
    main .more-information #overview .current-contacts i {
      font-weight: 600;
      width: 2rem; }
    main .more-information #overview .current-contacts span {
      display: block;
      line-height: 2rem; }
  main .more-information #work .item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
    border-bottom: solid 1px #EDEDED; }
    main .more-information #work .item:last-child {
      border-bottom: 0; }
    main .more-information #work .item img {
      width: 128px;
      height: 128px; }
      @media screen and (max-width: 420px) {
        main .more-information #work .item img {
          width: 48px;
          height: 48px; } }
    main .more-information #work .item .work-information {
      margin-right: auto; }
      main .more-information #work .item .work-information span {
        display: block; }
  main .more-information #education .education-information span {
    display: block; }
  main .more-information #education .education-information .uploaded-media {
    display: flex;
    margin-top: 1.5rem; }
    main .more-information #education .education-information .uploaded-media span, main .more-information #education .education-information .uploaded-media img {
      width: 128px;
      height: 70px;
      padding: .3rem; }
      @media screen and (max-width: 420px) {
        main .more-information #education .education-information .uploaded-media span, main .more-information #education .education-information .uploaded-media img {
          width: 90px;
          height: 60px;
          padding: .1rem; } }
    main .more-information #education .education-information .uploaded-media img {
      border-radius: 2px;
      background: #EDEDED;
      margin-right: .7rem; }
    main .more-information #education .education-information .uploaded-media span.upload-media {
      border: 1px dashed #6BBD2E;
      border-radius: 2px;
      color: #6BBD2E;
      line-height: 0;
      text-align: center;
      height: 66px; }
      @media screen and (max-width: 420px) {
        main .more-information #education .education-information .uploaded-media span.upload-media {
          height: 60px; } }
      main .more-information #education .education-information .uploaded-media span.upload-media i {
        display: block;
        font-size: 1.8rem;
        padding-top: 2%;
        line-height: 2.7rem; }
        @media screen and (max-width: 420px) {
          main .more-information #education .education-information .uploaded-media span.upload-media i {
            font-size: 1.2rem;
            line-height: 2.4rem; } }
      main .more-information #education .education-information .uploaded-media span.upload-media:hover {
        background: #6BBD2E;
        color: #FFFFFF;
        cursor: pointer; }
  main #register-form, main #login-form {
    padding: 0 5rem; }
    @media screen and (max-width: 420px) {
      main #register-form, main #login-form {
        padding: 0 1.1rem; } }
  main #account-settings .form .item {
    display: flex;
    margin-bottom: .4rem;
    padding: .2rem 0; }
    main #account-settings .form .item:hover {
      cursor: pointer; }
    main #account-settings .form .item .edit-input {
      width: 55%; }
      main #account-settings .form .item .edit-input span.hint {
        margin-top: -.5rem; }
    main #account-settings .form .item .edit-actions {
      display: flex;
      height: 2.4rem;
      align-items: center;
      font-size: .8rem; }
      main #account-settings .form .item .edit-actions a {
        margin: 0 .5rem;
        margin-top: .4rem; }
  main #account-settings .form input, main #account-settings .form label {
    display: inline-block; }
  main #account-settings .form label {
    width: 10%;
    text-align: right;
    margin-top: .7rem;
    margin-right: .7rem;
    color: #444;
    font-weight: 500; }
  main #account-settings .form input {
    background: #EDEDED;
    font-weight: 500;
    border: solid 1px #c7c7c7; }
    main #account-settings .form input:focus {
      background: #FFFFFF; }
  main #account-settings .form span.hint {
    display: block; }
  main .form-heading {
    text-align: center;
    padding: 1rem 0; }
    @media screen and (max-width: 420px) {
      main .form-heading h1 {
        font-size: 1.6rem; } }
    main .form-heading a {
      color: #3997C8;
      font-weight: 500; }
      main .form-heading a:hover {
        border-bottom: solid 1px #3997C8; }
  main .form:last-of-type {
    margin-bottom: 3rem; }
  main .form label {
    padding-left: .3rem;
    display: block;
    margin: .5rem 0;
    font-weight: 500; }
    main .form label a {
      color: #a1a1a1;
      font-size: .7rem; }
    main .form label.checkbox {
      display: flex;
      justify-content: center; }
      main .form label.checkbox input {
        padding: 0;
        margin: 0;
        height: 1.5rem;
        margin-right: .3rem; }
  main .form input {
    display: block;
    border: solid 1px #EDEDED;
    height: 2rem;
    padding: 1.2rem .7rem;
    margin-top: .3rem;
    margin-bottom: 1rem; }
    main .form input:focus {
      border: solid 1px #3997C8; }
  main .form a.big-btn {
    margin-top: 2rem; }
  main .form span.hint {
    font-size: .8rem;
    letter-spacing: -.005rem;
    color: #adadad; }
