@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,vietnamese);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EDEDED;
  color: #222222; }

a {
  text-decoration: none;
  color: #009AFF; }
  a:hover {
    text-decoration: underline; }

input {
  border: 0;
  border-radius: 2px; }

header {
  position: fixed;
  background: #172633;
  height: 61px;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
  z-index: 99; }
  header .header-wrapper {
    height: 60px;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    header .header-wrapper h1.logo {
      margin: auto 2rem;
      margin-left: 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700; }
      @media screen and (max-width: 420px) {
        header .header-wrapper h1.logo {
          margin: auto auto;
          margin-left: 1rem; } }
    header .header-wrapper .search {
      display: flex;
      margin: auto 0;
      margin-right: auto;
      height: 30px;
      min-width: 320px; }
      @media screen and (max-width: 420px) {
        header .header-wrapper .search {
          display: none; } }
      header .header-wrapper .search input {
        padding: .3rem;
        font-size: .9rem;
        width: 80%; }
        header .header-wrapper .search input.search__button {
          background: transparent;
          color: #fff;
          font-family: FontAwesome;
          width: 36px;
          position: relative;
          left: -36px;
          color: #222222; }
      header .header-wrapper .search i {
        position: relative;
        left: -8%; }
    header .header-wrapper nav {
      display: block;
      margin-left: auto;
      margin-right: 0;
      margin: auto 0;
      justify-content: flex-end;
      font-size: 80%; }
      header .header-wrapper nav ul.main-navigation {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: middle;
        justify-content: flex-end; }
        header .header-wrapper nav ul.main-navigation li {
          display: flex;
          align-items: middle;
          color: rgba(255, 255, 255, 0.7);
          padding: .3rem .7rem;
          border-radius: 2px; }
          header .header-wrapper nav ul.main-navigation li:hover {
            color: #fff; }
          header .header-wrapper nav ul.main-navigation li span, header .header-wrapper nav ul.main-navigation li a, header .header-wrapper nav ul.main-navigation li i {
            display: block;
            margin: auto 0; }
          header .header-wrapper nav ul.main-navigation li span, header .header-wrapper nav ul.main-navigation li i {
            padding: 0 .2rem; }
          header .header-wrapper nav ul.main-navigation li a {
            color: rgba(255, 255, 255, 0.7); }
            header .header-wrapper nav ul.main-navigation li a:hover {
              color: #fff;
              text-decoration: none; }
        header .header-wrapper nav ul.main-navigation li.user-profile-links {
          padding: .8rem; }
          header .header-wrapper nav ul.main-navigation li.user-profile-links span.user-name {
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          @media screen and (max-width: 420px) {
            header .header-wrapper nav ul.main-navigation li.user-profile-links span.user-name {
              display: none; } }
          header .header-wrapper nav ul.main-navigation li.user-profile-links img.menu-profile-picture {
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 2px;
            margin-right: .5rem; }
          header .header-wrapper nav ul.main-navigation li.user-profile-links:hover {
            cursor: pointer; }
          header .header-wrapper nav ul.main-navigation li.user-profile-links:hover > ul.drop-down-list {
            display: block; }
        header .header-wrapper nav ul.main-navigation ul.drop-down-list {
          display: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          margin-left: -10rem;
          background: #172633;
          border-radius: 0 0 2px 2px;
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }
          header .header-wrapper nav ul.main-navigation ul.drop-down-list hr {
            margin: .2rem 0;
            border-color: rgba(255, 255, 255, 0.2); }
          header .header-wrapper nav ul.main-navigation ul.drop-down-list li {
            font-size: .8rem;
            display: block;
            width: 170px;
            padding: .5rem 1rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li.div {
              border-bottom: solid 1px rgba(237, 237, 237, 0.3); }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:first-child {
              margin-top: .3rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:last-child {
              margin-bottom: .3rem; }
            header .header-wrapper nav ul.main-navigation ul.drop-down-list li:hover {
              background: rgba(255, 255, 255, 0.1); }
        @media screen and (max-width: 420px) {
          header .header-wrapper nav ul.main-navigation li.community {
            display: none; } }
        header .header-wrapper nav ul.main-navigation li.community span, header .header-wrapper nav ul.main-navigation li.community i {
          display: inline-block; }
        header .header-wrapper nav ul.main-navigation li.community i {
          font-size: 1.2rem; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  max-width: 1020px;
  margin: 0 auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 420px) {
    main {
      display: block; } }
  main .card {
    padding: 1rem;
    margin-bottom: 2rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }
  main .left-bar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    margin-right: auto;
    justify-content: flex-start; }
    main .left-bar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main .left-bar {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%; }
        main .left-bar:last-child {
          margin-right: 0; } }
  main .right-bar {
    color: transparent;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    main .right-bar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main .right-bar {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%;
        margin-right: 0; }
        main .right-bar:last-child {
          margin-right: 0; } }

.user-primary-details {
  display: flex;
  align-items: flex-start;
  position: relative; }
  .user-primary-details .button-group {
    display: flex;
    margin-left: auto;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    .user-primary-details .button-group .dropdown ul {
      min-width: 150px; }

.user-profile-picture {
  display: block;
  margin-right: 1rem;
  min-width: 160px; }
  .user-profile-picture img {
    border-radius: 2px; }

.user-details {
  margin-right: auto; }

.user-real-name {
  display: block;
  margin: 0;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.user-current-work a {
  color: #C7D2EB;
  font-weight: bolder; }

.user-description {
  display: block;
  font-weight: lighter;
  width: 55%;
  font-size: 75%;
  line-height: 160%;
  margin-top: 0.2rem; }

.user-information .tabs-menu,
#upload-form .tabs-menu {
  border-bottom: solid 2px #6987c9; }
.user-information .tabs-menu li,
#upload-form .tabs-menu li {
  min-width: 20%;
  color: #C7D2EB;
  text-align: center; }
  .user-information .tabs-menu li i,
  #upload-form .tabs-menu li i {
    padding: 0 0.3rem; }
  .user-information .tabs-menu li:hover,
  #upload-form .tabs-menu li:hover {
    background: #C7D2EB; }
    .user-information .tabs-menu li:hover a,
    #upload-form .tabs-menu li:hover a {
      color: #172633; }
  .user-information .tabs-menu li a,
  #upload-form .tabs-menu li a {
    color: #EDEDED; }
.user-information .tabs-menu li.current,
#upload-form .tabs-menu li.current {
  background: #6987c9; }
  .user-information .tabs-menu li.current a,
  #upload-form .tabs-menu li.current a {
    color: #fff; }
.user-information .tab-content,
#upload-form .tab-content {
  padding: 1rem 2rem;
  padding-top: 0; }

.user-detail-item {
  width: 40%;
  margin: 1rem 0; }
  .user-detail-item label {
    color: #6987c9;
    padding: 0.5rem 0; }

#work .user-detail-item,
#education .user-detail-item,
#recommendation .user-detail-item {
  width: 100%; }

#edit-profile-picture {
  display: flex; }
  #edit-profile-picture .user-profile-picture {
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 2px; }

.uploader {
  display: block; }
  .uploader strong, .uploader input {
    display: block;
    font-weight: normal; }
  .uploader input[type="file"] {
    padding: 0.5rem 0; }

#user-details-edit {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: solid 1px #6987c9; }

.edit-form-item {
  width: 75%;
  padding-left: 1rem;
  margin: 2rem 0; }
  .edit-form-item label {
    display: block;
    color: #8fa5d7;
    font-weight: 600; }
  .edit-form-item .privacy-stt label {
    display: inline-block;
    font-weight: normal; }
  .edit-form-item .button-group {
    width: 80px; }

.tab-right-sidebar .right-bar .edit-form-item {
  width: 100%;
  padding-left: 0; }

.language-item {
  padding-left: 1rem; }

.language-name {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .language-name i.fa-caret-right {
    position: relative;
    right: 0.3rem; }
  .language-name i.fa-plus,
  .language-name i.fa-minus {
    margin-left: auto;
    cursor: pointer; }

.language-skills {
  list-style: none;
  padding-left: 1rem;
  border-left: solid 1px #6987c9; }

.language-skills-item {
  display: flex;
  margin: 0.3rem 0; }
  .language-skills-item span.small-text {
    margin-left: auto; }

.language-skill-levels {
  margin-left: auto; }

.added-email-item,
.added-referee-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0; }
  .added-email-item span.email,
  .added-referee-item span.email {
    font-weight: normal; }
  .added-email-item button.btn,
  .added-referee-item button.btn {
    margin-top: 0;
    margin-left: auto; }

.workedplace-added-item,
.current-work-place,
.school-added-item {
  display: flex;
  align-items: flex-start;
  clear: both;
  margin-bottom: 1rem; }
  .workedplace-added-item a.btn,
  .current-work-place a.btn,
  .school-added-item a.btn {
    margin-left: auto; }
  .workedplace-added-item a:last-of-type,
  .current-work-place a:last-of-type,
  .school-added-item a:last-of-type {
    margin-left: 0.5rem; }

.workplace-details,
.education-details {
  margin-right: auto;
  padding-bottom: 1rem; }
  .workplace-details span,
  .education-details span {
    display: block;
    font-size: 80%;
    line-height: 180%; }
    .workplace-details span.work-position,
    .education-details span.work-position {
      font-size: 100%; }

.education-details .uploaded-media {
  display: flex;
  margin-top: 1.5rem; }
  @media screen and (max-width: 420px) {
    .education-details .uploaded-media {
      margin-top: 0; } }
  .education-details .uploaded-media span, .education-details .uploaded-media img {
    width: 128px;
    height: 70px;
    padding: .3rem; }
    @media screen and (max-width: 420px) {
      .education-details .uploaded-media span, .education-details .uploaded-media img {
        width: 90px;
        height: 60px;
        padding: .1rem; } }
  .education-details .uploaded-media img {
    border-radius: 2px;
    background: #EDEDED;
    margin-right: .7rem; }
  .education-details .uploaded-media span.upload-media {
    border: 1px dashed #5BE391;
    border-radius: 2px;
    color: #5BE391;
    line-height: 0;
    text-align: center;
    height: 66px; }
    @media screen and (max-width: 420px) {
      .education-details .uploaded-media span.upload-media {
        height: 60px; } }
    .education-details .uploaded-media span.upload-media i {
      display: block;
      font-size: 1.8rem;
      padding-top: 2%;
      line-height: 2.7rem; }
      @media screen and (max-width: 420px) {
        .education-details .uploaded-media span.upload-media i {
          font-size: 1.2rem;
          line-height: 2.4rem; } }
    .education-details .uploaded-media span.upload-media:hover {
      background: #5BE391;
      color: #fff;
      cursor: pointer; }

.recommendation-item {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.5px rgba(199, 210, 235, 0.1); }

.recommendation-text {
  width: 80%;
  margin: 0;
  padding-left: 1rem;
  color: rgba(199, 210, 235, 0.6); }
  .recommendation-text h4 {
    color: #EDEDED; }

.recommendation-author a {
  color: #6987c9; }

.recommendation-form {
  padding-bottom: 4rem;
  border-bottom: solid 0.5px rgba(199, 210, 235, 0.1);
  margin-bottom: 1rem; }

#user-referee-edit {
  color: #EDEDED; }
  #user-referee-edit ul {
    list-style: none;
    padding: 0; }
    #user-referee-edit ul li {
      line-height: 180%; }

.document-details span {
  display: inline-block; }
.document-details .document-tag {
  display: inline-block; }
.document-details .similar-item {
  margin-bottom: 1.5rem; }

select#new-category {
  margin-top: 1rem; }

.upload-via-url {
  position: absolute;
  bottom: 1.5rem; }

#file-list .card,
#document-view .card {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #file-list .card::after,
  #document-view .card::after {
    clear: both;
    content: "";
    display: table; }
  #file-list .card aside.right-side-bar,
  #document-view .card aside.right-side-bar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    #file-list .card aside.right-side-bar:last-child,
    #document-view .card aside.right-side-bar:last-child {
      margin-right: 0; }
    #file-list .card aside.right-side-bar .filter-cloud-tags,
    #document-view .card aside.right-side-bar .filter-cloud-tags {
      margin-top: 1rem; }
  #file-list .card .left-content,
  #document-view .card .left-content {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    #file-list .card .left-content:last-child,
    #document-view .card .left-content:last-child {
      margin-right: 0; }
  #file-list .card .file-list-container,
  #document-view .card .file-list-container {
    position: relative; }
    #file-list .card .file-list-container:first-of-type,
    #document-view .card .file-list-container:first-of-type {
      margin-top: 2rem; }
  #file-list .card .file-actions,
  #document-view .card .file-actions {
    background: #172633;
    padding-bottom: 0.5rem;
    height: 2rem;
    z-index: 99;
    padding: 0 auto; }
    #file-list .card .file-actions.position-fixed,
    #document-view .card .file-actions.position-fixed {
      margin-top: 0;
      top: 3.8rem;
      width: 59%; }
    #file-list .card .file-actions span,
    #document-view .card .file-actions span {
      margin-right: 1rem; }
      #file-list .card .file-actions span:hover,
      #document-view .card .file-actions span:hover {
        cursor: pointer; }
    #file-list .card .file-actions .document-publish i,
    #document-view .card .file-actions .document-publish i {
      color: #6BBD2E; }
    #file-list .card .file-actions .document-remove i,
    #document-view .card .file-actions .document-remove i {
      color: #FF3D4C; }
    #file-list .card .file-actions .document-rename i,
    #document-view .card .file-actions .document-rename i {
      color: #EF7B41; }
    #file-list .card .file-actions .document-transfer i,
    #document-view .card .file-actions .document-transfer i {
      color: #009AFF; }
  #file-list .card .file-list-item,
  #document-view .card .file-list-item {
    padding: 1rem;
    padding-bottom: 0;
    border-bottom: solid 0.5px rgba(199, 210, 235, 0.5);
    position: relative; }
    #file-list .card .file-list-item:hover,
    #document-view .card .file-list-item:hover {
      background: rgba(199, 210, 235, 0.05);
      cursor: pointer; }
      #file-list .card .file-list-item:hover .share-button,
      #document-view .card .file-list-item:hover .share-button {
        display: block; }
    #file-list .card .file-list-item.selected,
    #document-view .card .file-list-item.selected {
      background: rgba(0, 154, 255, 0.1); }
      #file-list .card .file-list-item.selected .share-button,
      #document-view .card .file-list-item.selected .share-button {
        display: block; }
    #file-list .card .file-list-item .share-button,
    #document-view .card .file-list-item .share-button {
      display: none;
      position: absolute;
      right: 1rem; }
  #file-list .card .file-title,
  #document-view .card .file-title {
    font-size: 90%;
    line-height: 160%;
    width: 75%;
    font-weight: normal;
    margin-bottom: 0.3rem;
    color: #E6E984; }
    #file-list .card .file-title a,
    #document-view .card .file-title a {
      display: none;
      color: #009AFF; }
    #file-list .card .file-title:hover,
    #document-view .card .file-title:hover {
      cursor: pointer;
      text-decoration: none; }
    #file-list .card .file-title:hover > a,
    #document-view .card .file-title:hover > a {
      display: inline-block; }
  #file-list .card .file-meta,
  #document-view .card .file-meta {
    font-size: 80%; }
  #file-list .card .file-meta .inline-block,
  #document-view .card .file-meta .inline-block {
    margin-right: 2rem;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis; }
  #file-list .card .document-tags,
  #document-view .card .document-tags {
    border: 0 !important;
    padding-top: 0 !important; }
  #file-list .card .pagination,
  #document-view .card .pagination {
    display: block;
    text-align: center;
    margin-top: 1rem; }

#file-request .card {
  width: 60%;
  margin: 0 auto; }
  #file-request .card .file-list {
    margin: 0 3rem; }
  #file-request .card i.fa-paper-plane {
    font-size: 200%;
    margin-bottom: 1rem; }

#requests-list .list-item {
  padding: 0.7rem; }
#requests-list .list-item-text {
  width: 70%;
  overflow: hidden; }
  #requests-list .list-item-text strong {
    color: #C7D2EB; }
#requests-list i.fa-paperclip {
  color: #5BE391; }
#requests-list i.fa-retweet {
  color: #009AFF; }

#document-view h4.file-title {
  display: flex;
  width: 75%;
  align-items: center; }
  #document-view h4.file-title i,
  #document-view h4.file-title span {
    margin-right: 0.5rem; }
  #document-view h4.file-title .document-logo img {
    max-height: .9rem;
    vertical-align: middle; }
#document-view .document-side-metas {
  padding-top: 0.5rem; }
  #document-view .document-side-metas label {
    margin-bottom: 0.5rem; }
#document-view #added-in-cue {
  margin-bottom: 1rem;
  margin-top: 1.5rem; }

.btn {
  font-size: 100%;
  border: 1px solid;
  border-radius: 2px;
  background: #fff;
  padding: 0.3rem 1rem;
  text-align: center;
  margin: 0.2rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32); }

a.btn:hover {
  text-decoration: none;
  cursor: pointer; }

.btn-lg {
  font-size: 125%; }

.btn-sm {
  font-size: 75%;
  padding: 0.1rem 0.4rem !important; }

.btn-xs {
  font-size: 60%;
  padding: 0.2rem 0.5rem; }

.btn-block {
  display: block;
  width: 100%;
  margin: 0; }

.btn-default {
  background: #EDEDED;
  border-color: #d4d4d4; }
  .btn-default:hover {
    background: #d4d4d4;
    border-color: #d4d4d4; }

.btn-primary {
  background: #009AFF;
  border-color: #007bcc;
  color: #fff; }
  .btn-primary:hover {
    background: #007bcc;
    border-color: #007bcc; }

.btn-success {
  background: #6BBD2E;
  border-color: #549424;
  color: #fff; }
  .btn-success:hover {
    background: #549424;
    border-color: #549424; }

.btn-info {
  background: #4db8ff;
  border-color: #1aa4ff;
  color: #fff; }
  .btn-info:hover {
    background: #009aff;
    border-color: #009aff; }

.btn-warning {
  background: #EF7B41;
  border-color: #e95b14;
  color: #fff; }
  .btn-warning:hover {
    background: #d25212;
    border-color: #d25212; }

.btn-danger {
  background: #FF3D4C;
  border-color: #ff0a1d;
  color: #fff; }
  .btn-danger:hover {
    background: #f00013;
    border-color: #f00013; }

.btn-link {
  padding: 0;
  text-decoration: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-color: transparent;
  margin: 0.5rem; }
  .btn-link:hover {
    text-decoration: underline; }
  .btn-link.success {
    color: #00CF98; }

.button-group,
.button-group-right {
  margin-top: 0.5rem; }

.button-group {
  display: block; }

.button-group-right {
  display: flex;
  justify-content: flex-end; }

.tag {
  border-radius: 2px;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  padding: 0.2rem 0.8rem; }
  .tag a {
    color: #fff;
    text-decoration: none; }
  .tag:hover {
    cursor: pointer; }

.added-tags span {
  background: #C7D2EB; }
  .added-tags span:hover {
    background: #6987c9; }
    .added-tags span:hover > a {
      color: #fff; }
.added-tags a {
  color: #6987c9; }
.added-tags i {
  margin-left: 0.3rem; }
  .added-tags i:hover {
    color: #2f4984; }

.user-skill-tags {
  margin-top: 1rem; }
  .user-skill-tags span {
    background: #9f6faf;
    color: #fff; }
    .user-skill-tags span:hover {
      background: #5b3966; }

.user-interest-tags span {
  background: #2fdc74;
  color: #fff; }
  .user-interest-tags span:hover {
    background: #20b95c; }

.filter-cloud-tags a {
  color: #172633;
  font-weight: bold; }
.filter-cloud-tags span {
  background: #C7D2EB;
  color: #172633; }
  .filter-cloud-tags span:hover {
    background: #a1b4de; }

.document-tags a {
  color: #172633;
  font-weight: normal; }
.document-tags span {
  opacity: 0.8;
  padding: 0 0.3rem !important;
  border-radius: 2px;
  background: #C7D2EB;
  color: #172633;
  font-size: 90%; }
  .document-tags span:hover {
    background: #a1b4de; }

.alert {
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  padding: 0.5rem 0.7rem; }
  .alert.alert-error {
    border: solid 1px rgba(255, 61, 76, 0.5);
    background: rgba(255, 61, 76, 0.3); }
    .alert.alert-error strong {
      color: #FF3D4C; }
  .alert.alert-success {
    border: solid 1px rgba(107, 189, 46, 0.5);
    background: rgba(107, 189, 46, 0.3); }
    .alert.alert-success strong {
      color: #6BBD2E; }

.form-heading {
  text-align: center;
  padding: 1rem 0; }

.character.success-astro img {
  width: 200px; }

.form label {
  display: block;
  margin: .5rem 0; }
  .form label a {
    float: right;
    font-size: 80%; }
  .form label.control, .form label .checkbox {
    margin: 0; }
.form select, .form option {
  border: 0; }
.form input[type="text"],
.form input[type="password"],
.form input[type="date"],
.form input[type="email"],
.form textarea {
  display: block;
  margin-top: .3rem;
  margin-bottom: 1rem;
  padding: .5rem .7rem;
  border-radius: 2px;
  width: 100%;
  background: #fff;
  color: #172633;
  border: solid 1px #EDEDED; }
  .form input[type="text"].danger,
  .form input[type="password"].danger,
  .form input[type="date"].danger,
  .form input[type="email"].danger,
  .form textarea.danger {
    border-color: #FF3D4C; }
  .form input[type="text"].small-form,
  .form input[type="password"].small-form,
  .form input[type="date"].small-form,
  .form input[type="email"].small-form,
  .form textarea.small-form {
    font-size: 70%; }
  .form input[type="text"]:focus,
  .form input[type="password"]:focus,
  .form input[type="date"]:focus,
  .form input[type="email"]:focus,
  .form textarea:focus {
    border-color: rgba(0, 154, 255, 0.8); }
.form select {
  background: #22384c;
  color: #C7D2EB;
  height: 2rem;
  border-radius: 2px; }
.form span.hint {
  font-size: .8rem;
  letter-spacing: -.005rem;
  color: #adadad; }
.form .btn {
  margin-top: 1rem;
  font-weight: bold; }
.form .inline-submit-form {
  display: flex; }
  .form .inline-submit-form input,
  .form .inline-submit-form .btn {
    margin-bottom: 0;
    margin-top: 0; }
  .form .inline-submit-form .btn {
    width: 35%; }
.form .inline-forms {
  display: flex; }
  .form .inline-forms input {
    width: 48%;
    margin-right: 0.5rem; }

#register-form,
#upload-form,
#login-form,
#forgot-password-form {
  width: 50%;
  margin: 0 auto; }
  #register-form .alert,
  #upload-form .alert,
  #login-form .alert,
  #forgot-password-form .alert {
    margin-bottom: 1rem; }
  #register-form .card,
  #upload-form .card,
  #login-form .card,
  #forgot-password-form .card {
    padding: 0 4rem;
    padding-bottom: 2rem; }
  @media screen and (max-width: 420px) {
    #register-form,
    #upload-form,
    #login-form,
    #forgot-password-form {
      width: 100%; }
      #register-form .alert,
      #upload-form .alert,
      #login-form .alert,
      #forgot-password-form .alert {
        width: 100%; }
      #register-form .card,
      #upload-form .card,
      #login-form .card,
      #forgot-password-form .card {
        padding: 0 1rem;
        padding-bottom: 1rem; } }
  #register-form .remember-me,
  #upload-form .remember-me,
  #login-form .remember-me,
  #forgot-password-form .remember-me {
    display: flex;
    align-items: center;
    padding-left: 29%; }
    #register-form .remember-me input[type="checkbox"],
    #upload-form .remember-me input[type="checkbox"],
    #login-form .remember-me input[type="checkbox"],
    #forgot-password-form .remember-me input[type="checkbox"] {
      margin-right: .5rem;
      width: 1rem; }

#upload-form {
  width: 80%; }
  #upload-form .card {
    padding: 1rem; }
  #upload-form .left-bar-form {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    #upload-form .left-bar-form:last-child {
      margin-right: 0; }
  #upload-form .right-bar-form {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    #upload-form .right-bar-form:last-child {
      margin-right: 0; }
  #upload-form .tab-content {
    padding: 0;
    padding-top: 1rem; }

.panel-with-close {
  display: flex;
  align-items: center; }
  .panel-with-close h1,
  .panel-with-close h2,
  .panel-with-close h3 {
    margin-right: auto; }

.panel-heading {
  padding: 1rem;
  background: #172633;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.panel-content {
  padding: 1rem;
  background: rgba(23, 38, 51, 0.85);
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .panel-content::after {
    clear: both;
    content: "";
    display: table; }

.progress {
  background: #EDEDED;
  border-radius: 2px;
  width: 100%; }

.progress-bar {
  background: #00CF98;
  border-radius: 2px;
  margin: 0.5rem 0;
  padding: 0.5rem; }

.selectize-dropdown, .selectize-input, .selectize-input input {
  color: #C7D2EB !important; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #22384c !important;
  border: solid 0px transparent !important; }

.selectize-control.multi .selectize-input > div {
  background: #C7D2EB !important;
  border-radius: 2px; }

.selectize-input.dropdown-active::before {
  background: #22384c !important; }

.selectize-dropdown {
  border: solid 0px #22384c !important;
  background: #22384c !important;
  color: #C7D2EB !important; }

.selectize-dropdown .active {
  background: rgba(199, 210, 235, 0.1) !important;
  color: #fff !important; }

.profile-picture {
  border-radius: 2px; }
  .profile-picture.small-pp {
    width: 48px;
    height: 48px; }
  .profile-picture.xsmall-pp {
    width: 32px;
    height: 32px; }

.split-dot {
  color: #EDEDED;
  opacity: 0.5;
  position: relative;
  top: -3px;
  margin: 0 0.3rem; }

.inline-items {
  display: flex;
  justify-content: flex-start; }
  .inline-items div {
    margin-right: auto; }

.hide {
  display: none; }

.near-top {
  position: relative;
  top: -1rem; }

.right {
  float: right; }

.margin-null {
  margin: 0; }

.padding-bit {
  padding: 0.1rem; }

.margin-bit-top {
  margin-top: 5%; }

.margin-bit {
  margin: 0.7rem 0; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.full-width {
  width: 100%; }

.similar-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.no-list-style {
  list-style: none;
  padding-left: 0.5rem; }

a.text-decoration-none {
  text-decoration: none; }
  a.text-decoration-none:hover {
    text-decoration: none; }

.position-fixed {
  position: fixed; }
