@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,vietnamese);

$grey: #C7D2EA;
$dark-blue: #172633;
$light-blue: #1997CF;
$white: #FFFFFF;
$black: #444;

$purple: #9F6FAF;
$green: #6BBD2E;
$red: #FF3D4C;
$yellow: #ECBF42;

$radius: 2px;
$box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);

body {
  background: lighten($dark-blue, 10%);
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .03rem;
  line-height: 1.4rem;
}

// MISC

.hide {
  display: none !important;
}

// TEST TOOLTIP

[data-tip] {
  position:relative;
}

[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid $red;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  position:absolute;
  top:7px;
  right: 103%;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}

[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:0;
  left: -96%;
  padding:5px 8px;
  background: $red;
  color: $white;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;

}

[data-tip]:after {
  display: block;
}
[data-tip]:before {
  display: block;
}

label.required input {        
  border-color: $red !important;
}


a {
  text-decoration: none;
  color: $grey;
  // &:hover {
  //   border-bottom: solid .5px $dark-blue;
  // }
}

input {
  border: 0;
  border-radius: $radius;
}

span.tag {
  border-radius: 20px;
  display: inline-block;
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  padding: 0.2rem 1.4rem;
}

.skill-tags {
  margin-top: 1.5rem;
  width: 80%;
  span {
    background: $purple;
    color: $white;
    &:hover {
      background: darken($purple, 15%);
    }
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        border: 0;
      }
    }
  }
}

.interest-tags {
  margin-top: 3rem;
  width: 60%;
  span {
    background: $green;
    color: $white;
    &:hover {
      background: darken($green, 15%);
    }
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        border: 0;
      }
    }
  }
}
//INDICATOR 

.alert {
  display: block;
  margin: 0 auto;
  border-radius: $radius;
  padding: .3rem .7rem;
  &.alert-error {
    strong {
      color: $red;
    }
    border: solid 1px rgba($red,.3);
    background: rgba($red,.1);
  }
}

//BUTTONS

.right {
  float: right;
}

.small-btn {
  background: $grey;
  border-radius: $radius;
  display: table;
  padding: 0.3rem 0.7rem;

  &:hover {
    background: darken($grey, 5%);
  }
}

.btn {
  border-radius: $radius;
  font-weight: 500;
  padding: .5rem 1rem;
}

.big-btn {
  font-size: 1.2rem;
  font-weight: 700;
}

.full-width {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .7rem 0;
}

.cta {
  background: rgba($green,.9);
  color: $white;
  &:hover {
    background: $green;
  }
}

//TABS

ul.tabs {
  position: relative;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  li {
    background: $dark-blue;
    width: 100%;
    margin: 0;
    text-align: center;
    a {
      i {
        font-size: 1.5rem;
        display: inline-block;
        padding: .7rem;
      }
      border-bottom: solid 1px rgba($grey,.8);
      color: darken($grey,25%);
      display: block;
      padding: .3rem;
      &:hover {
        color: $grey;
      }
      &.active {
        i {
          color: $white;
        }
        font-weight: 600;
        color: $white;
        border-bottom: solid 2px $white;
      }
    }
  }
}
.tab-content {
  padding: 2rem;
  color: $white;
  .item {
    display: block;
    label {
      margin-bottom: 0;
      color: $grey;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      font-size: .6rem;
    }
    span {
      font-weight: 500;
    }
    margin-bottom: 1.5rem;
  }
}

header {
  position: fixed;
  background: $dark-blue; 
  height: 61px;
  width: 100%;
  box-shadow: $box-shadow;
  z-index: 99;
  .header-wrapper {
    height: 60px;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    h1.logo {
      display: block;
      margin: auto 2rem;
      margin-left: 0;
      color: $white;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
    }

    .search {
      display: block;
      margin: auto 0;
      margin-right: 20%;
      height: 30px;
      min-width: 320px;
      input {
        padding: .3rem;
        font-size: .9rem;
        width: 80%;
      }
      i {
        color: $grey;
        position: relative;
        left: -8%;
      }
    }

    nav {
      display: block;
      min-width: 30%;
      margin-left: auto;
      margin-right: 0;
      margin: auto 0;
      justify-content: flex-end;
      ul.main-navigation {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: middle;
        justify-content: flex-end;
        li {
          display: flex;
          align-items: middle;
          color: rgba($white,.7);
          padding: .3rem .7rem;
          border-radius: $radius;
          &:hover {
            color: $white;
          }
          span, a, i {
            display: block;
            margin: auto 0;
          }
          span, i {
            padding: 0 .2rem;
          }
          a {
            color: rgba($white,.7);
            &:hover {
              color: $white;
            }
          }
        }
        li.user-profile-links {
          padding: .8rem;
          img.menu-profile-picture {
            display: block;
            width: 36px;
            height: 36px;
            border-radius: $radius;
            margin-right: .5rem;
          }
          &:hover {
            cursor: pointer;
          }
          &:hover > ul.drop-down-list {
            display: block;
          }
        }

        ul.drop-down-list {
          display: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          margin-left: -10rem;
          background: $dark-blue;
          border-radius: 0 0 2px 2px;
          box-shadow: $box-shadow;
          hr {
            margin: .2rem 0;
            border-color: rgba($white,.2);
          }
          li {
            font-size: .8rem;
            display: block;
            min-width: 140px;
            padding: .5rem 1rem;
            &:first-child {
              margin-top: .3rem;
            }
            &:last-child {
              margin-bottom: .3rem;
            }
            &:hover {
              background: rgba($white, 0.1);
            }
          }
        }

        li.community {
          span, i {
            display: inline-block;
          }
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

main {

  // CONTENT WRAPPER
  padding-top: 6rem;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  
  //BASE LAYOUT
  .card {
    background: $dark-blue;
    border-radius: $radius;
    box-shadow: $box-shadow;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .left-bar {
    width: 75%;
    margin-right: auto;
    justify-content: flex-start;
  }

  .right-bar {
    background: $white;
    width: 25%;
    margin-left: 2rem;
  }

  // PROFILE PAGE
  .main-information {
    // width: 100%;
    display: flex;

    .user-profile-picture {
      width: 17rem;
    }

    .user-profile-picture img{
      display: block;
      width: 160px;
      height: 160px;
      padding: 4px;
      // border: solid 1px $dark-blue;
      border-radius: $radius;
    }

    .user-main-details {
      // margin-left: 1.5rem;
      margin-top: .5rem;

      .actions {
        position: relative;
        float: right;
        top: 0;
        right: 0;

        .small-btn {
          margin-bottom: .5rem;
          font-size: .8rem;
          
          i {
            margin-right: .2rem;
          }

          &:hover {
            background: $light-blue;
            color: $white;
            cursor: pointer;
            box-shadow: $box-shadow;
          }
          &.more:hover {
            background: $grey;
            color: $black;

            ul.dropdown {
              display: block;
              // box-shadow: $box-shadow;
            }
          }

        }

        .more {
          position: relative;
          right: -1.6rem;

          ul.dropdown {
            display: none;
            list-style: none;
            position: absolute;
            top: 50%;
            left: -185%;
            li {
              &:first-child {
                border-radius: $radius 0 0 0;
              }
              &:last-child {
                border-radius:0 0 $radius $radius;
              }
              color: rgba($black,.8);
              // color: rgba($white,.8);
              // background: $light-blue;
              background: $grey;
              width: 140px;
              padding: .3rem .7rem;
              &:hover {
                // color: $white;
                color: rgba($black,1);
              }
            }
          }
        }

      }

      h2 {
        margin: 0;
        color: $white;
      }
      .current-work-place {
        color: darken($grey,15%);
        margin-top: .5rem;
        font-weight: 400;
      }
    }
  }

  .more-information {
      #overview {
        .current-contacts {
          label {
            display: block;
            margin-bottom: 1rem;
            color: $white;
            font-weight: 600;
          }
          i {
            font-weight: 600;
            width: 2rem;
          }
          width: 50%;
          background: rgba($light-blue, .3);
          border: solid 1px rgba($light-blue,.7);
          padding: 1rem;
          border-radius: $radius;
          position: relative;
          top: 5px;
          right: 0;
          float: right;
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
          span {
            display: block;
            line-height: 2rem;
          }
        }
      }

      #work {
        .item {
          display: flex;
          align-items: flex-start;
          padding-bottom: 1rem;
          border-bottom: solid 1px $grey;
          &:last-child {
            border-bottom: 0;
          }
          img {
            width: 128px;
            height: 128px;
          }
          .work-information {
            margin-right: auto;
            span {
              display: block;
            }
          }
        }
      }

      #education {
        .education-information{
          span {
            display: block;
          }
          .uploaded-media {
            display: flex;
            margin-top: 1.5rem;

            span, img {
              width: 128px;
              height: 70px;
              padding: .3rem;
            }
            img {
              border-radius: $radius;
              background: rgba($dark-blue,.3);
              margin-right: .7rem;
            }
            span.upload-media {
              background: $green;
              border-radius: 2px;
              color: $white;
              line-height: 0;
              text-align: center;
              height: 66px;
              i {
                display: block;
                font-size: 1.8rem;
                padding-top: 5%;
                line-height: 3rem;
              }
              &:hover {
                background: darken($green,5%);
                color: $white;
                cursor:pointer;
              }
            }
          }
        }
      }
  }
  
  #register-form, #login-form {
    padding: 0 5rem;
  }

  #account-settings {
    .form {

      .item {
        display: flex;
        margin-bottom: .6rem;
        padding: 1rem 0;
        &:hover {
          cursor: pointer;
        }

        .edit-input {
          width: 55%;

          span.hint {
            margin-top: -.5rem;
          }
        }

        .edit-actions {
          display: flex;
          height: 2.4rem;
          align-items: center;
          font-size: .8rem;
          a {
            margin: 0 .5rem;
            margin-top: .4rem;
          }
        }
      }

      input, label {
        display: inline-block;
      }

      label {
        width: 10%;
        text-align: right;
        margin-right: .7rem;
        color: $black;
      }

      input {
        height: 1.5rem;
        background: $grey;
        font-weight: 500;
        border: solid 1px darken($grey,15%);
        &:focus {
          background: $white;
        }
      }

      input:focus > .edit-actions {
        display: none !important;
      }

      span.hint {
        display: block;
      }
    }
  }


  //FORM
  .form-heading {
    text-align: center;
    padding: 1rem 0;
    a {
      color: $light-blue;
      font-weight: 500;
      &:hover {
        border-bottom: solid 1px $light-blue;
      }
    }
  }
  .form {
    &:last-of-type {
      margin-bottom: 3rem;
    }
    label {
      padding-left: .3rem;
      display: block;
      margin: .5rem 0;
      font-weight: 500;

      a {
        color: darken($grey,30%);
        font-size: .7rem;
      }

      &.checkbox {
        display: flex;
        justify-content: center;
        input {
          padding: 0;
          margin: 0;
          height: 1.5rem;
          margin-right: .3rem;
        }
      }
    }
    input {
      display: block;
      border: solid 1px $grey;
      height: 2rem;
      padding: .3rem .7rem;
      margin-top: .3rem;
      margin-bottom: 1rem;
      &:focus {
        border: solid 1px $light-blue;
      }

    }
    a.big-btn {
      margin-top: 2rem;
    }
    span.hint {
      font-size: .8rem;
      letter-spacing: -.005rem;
      color: darken($grey,25%);
    }
  }


}