@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,vietnamese);
@import "bourbon", "neat";

$grey: #C7D2EA;
$dark-blue: #172633;
$light-blue: #1EA1DC;
$white: #FFFFFF;
$black: #444;

$purple: #9F6FAF;
$green: #6BBD2E;
$red: #FF3D4C;
$yellow: #ECBF42;

$radius: 2px;
$box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);

$mobile: new-breakpoint(max-width 420px 4);


body {
    background: lighten($dark-blue,10%);
    font-family: 'Open Sans', sans-serif; 
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .03rem;
    line-height: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// MISC

.hide {
    display: none !important;
}

// TEST TOOLTIP

[data-tip] {
    position:relative;
}

[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid $red;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    position:absolute;
    top:7px;
    right: 103%;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}

[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:0;
    left: -105%;
    padding: .3rem .8rem;
    background: $red;
    color: $white;
    z-index:9;
    font-size: 0.75em;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;

}

[data-tip]:after {
    display: block;
}
[data-tip]:before {
    display: block;
}

label.required input {        
    border-color: $red !important;
}


a {
    text-decoration: none;
    color: $grey;
    // &:hover {
    //   border-bottom: solid .5px $dark-blue;
    // }
}

button {
    border: 0;
}

input, textarea, select {
    border: 0;
    border-radius: $radius;
    color: darken($grey,25%);
}

span.tag {
    border-radius: 20px;
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
    padding: 0.2rem 1.4rem;
}

.skill-tags {
    @include media($mobile) {
        width: 100%;
    }
    margin-top: 1.5rem;
    width: 80%;
    span {
        background: $purple;
        color: $white;
        &:hover {
            background: darken($purple, 15%);
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                border: 0;
            }
        }
    }
}

.interest-tags {
    margin-top: 3rem;
    width: 60%;
    @include media($mobile) {
        width: 100%;
    }
    span {
        background: $green;
        color: $white;
        &:hover {
            background: darken($green, 15%);
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                border: 0;
            }
        }
    }
}
//INDICATOR 

.alert {
    display: block;
    margin: 0 auto;
    border-radius: $radius;
    padding: .3rem .7rem;
    &.alert-error {
        strong {
            color: $red;
        }
        border: solid 1px rgba($red,.3);
        background: rgba($red,.1);
    }
}

//BUTTONS

.right {
    float: right;
}

.xs-btn {
    font-size: 60%;
    padding: 0rem .3rem;
}

.small-btn {
    background: $grey;
    border-radius: $radius;
    // border: solid 2px $grey;
    padding: 0.3rem 0.7rem;
    color: $dark-blue;
    font-weight: bold;
    font-size: 85%;

    &:hover {
        background: darken($grey,5%);
    }
}

.btn {
    background: $grey;
    border-radius: $radius;
    color: $dark-blue;
    font-weight: 500;
    padding: .3rem .5rem;
}

.big-btn {
    font-size: 1.2rem;
    font-weight: 700;
}

.full-width {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: .7rem 0;
}

.cta {
    background: rgba($green,.9);
    color: $white;
    &:hover {
        background: $green;
    }
}

.submit {
    background: rgba($light-blue,.9);
    color: $white;
    &:hover {
        background: $light-blue;
    }
}

.destroy {
    background: $red;
    color: $white;
}

//TABS

ul.tabs {
    position: relative;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    li {
        background: $dark-blue;
        width: 100%;
        margin: 0;
        text-align: center;
        a {
            i {
                font-size: 1.5rem;
                display: inline-block;
                padding: .7rem;
                @include media($mobile) {
                    display: none;
                }
            }
            border-bottom: solid 1px rgba($grey,.3);
            color: darken($grey,25%);
            display: block;
            padding: .3rem;
            &:hover {
                color: $grey;
            }
            &.active {
                background: darken($grey,25%);
                border-radius: $radius $radius 0 0;
                i {
                    color: $white;
                }
                font-weight: 600;
                color: $white;
                // border-bottom: solid 3px $white;
            }
        }
    }
}
.tab-content {
    @include media($mobile) {
        padding: 1rem;
    }
    padding: 2rem;
    color: $white;
    .item {
        display: block;
        label {
            margin-bottom: 0;
            color: $grey;
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            font-size: .6rem;
        }
        span {
            font-weight: 500;
        }
        margin-bottom: 1.5rem;
    }
    .languages {
        span {
            display: block;
            i {
                font-size: 80%;
                font-style: normal;
                color: darken($grey,25%);
            }
        }
    }
}

header {
    position: fixed;
    background: $dark-blue; 
    height: 61px;
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 99;
    .header-wrapper {
        height: 60px;
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        h1.logo {
            margin: auto 2rem;
            margin-left: 0;
            color: $white;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 700;
            @include media($mobile) {
                margin: auto auto;
                margin-left: 1rem;
            }
        }

        .search {

            @include media($mobile) {
                display: none;
            }

            margin: auto 0;
            margin-right: 20%;
            height: 30px;
            min-width: 320px;
            input {
                padding: .3rem;
                font-size: .9rem;
                width: 80%;
            }
            i {
                color: $grey;
                position: relative;
                left: -8%;
            }
        }

        nav {
            display: block;
            min-width: 30%;
            margin-left: auto;
            margin-right: 0;
            margin: auto 0;
            justify-content: flex-end;
            ul.main-navigation {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: middle;
                justify-content: flex-end;

                li {
                    display: flex;
                    align-items: middle;
                    color: rgba($white,.7);
                    padding: .3rem .7rem;
                    border-radius: $radius;
                    &:hover {
                        color: $white;
                    }
                    span, a, i {
                        display: block;
                        margin: auto 0;
                    }
                    span, i {
                        padding: 0 .2rem;
                    }
                    a {
                        color: rgba($white,.7);
                        &:hover {
                            color: $white;
                        }
                    }
                }
                li.user-profile-links {
                    @include media($mobile) {
                        span.user-name {
                            display: none;
                        }
                    }
                    padding: .8rem;
                    img.menu-profile-picture {
                        display: block;
                        width: 36px;
                        height: 36px;
                        border-radius: $radius;
                        margin-right: .5rem;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover > ul.drop-down-list {
                        display: block;
                    }
                }

                ul.drop-down-list {
                    display: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 100%;
                    margin-left: -10rem;
                    background: $dark-blue;
                    border-radius: 0 0 2px 2px;
                    box-shadow: $box-shadow;
                    hr {
                        margin: .2rem 0;
                        border-color: rgba($white,.2);
                    }
                    li {
                        font-size: .8rem;
                        display: block;
                        width: 170px;
                        padding: .5rem 1rem;
                        &.div {
                            border-bottom: solid 1px rgba($grey,.3);
                        }
                        &:first-child {
                            margin-top: .3rem;
                        }
                        &:last-child {
                            margin-bottom: .3rem;
                        }
                        &:hover {
                            background: rgba($white, 0.1);
                        }
                    }
                }

                li.community {
                    @include media($mobile) {
                        display: none;
                    }
                    span, i {
                        display: inline-block;
                    }
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

main {

    // CONTENT WRAPPER
    @include outer-container;
    padding-top: 6rem;
    max-width: 1020px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    @include media($mobile) {
        display: block;
    }
    
    //BASE LAYOUT
    .card {
        background: $dark-blue;
        border-radius: $radius;
        box-shadow: $box-shadow;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .left-bar {
        @include span-columns(9);
        margin-right: auto;
        justify-content: flex-start;
        @include media($mobile) {
            @include span-columns(4);
        }
    }

    .right-bar {
        // background: $white;
        color: transparent;
        @include span-columns(3);
        @include media($mobile) {
            @include span-columns(4);
            @include omega();
        }
    }

    // PROFILE PAGE
.user-profile-picture {
    width: 15rem;
    @include media($mobile) {
        @include span-columns(4);
        margin: 0;
    }
}

.user-profile-picture img{
    display: block;
    width: 160px;
    height: 160px;
    padding: 4px;
    // border: solid 1px $grey;
    border-radius: $radius;
    @include media($mobile) {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
    .main-information {
        // width: 100%;
        display: flex;
        @include outer-container;
        @include media($mobile) {
            display: block;
        }

        .user-main-details {
            // margin-left: 1.5rem;
            margin-top: .5rem;
            @include media($mobile) {
                display: block;
                text-align: center;
            }

            .actions {
                float: right;
                display: flex;
                justify-content: flex-end;
                    @include media($mobile) {
                        display: block;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                .small-btn {
                    margin-bottom: .5rem;
                    font-size: .8rem;
                    display: inline-block;
                    margin-right: .5rem;
                    
                    i {
                        margin-right: .2rem;
                    }

                    &:hover {
                        background: darken($light-blue,15%);
                        color: $white;
                        cursor: pointer;
                        box-shadow: $box-shadow;
                    }
                    &.more:hover {
                        background: $grey;
                        color: $black;

                        ul.dropdown {
                            display: block;
                            // box-shadow: $box-shadow;
                        }
                    }

                }

                .more {
                    position: relative;

                    ul.dropdown {
                        display: none;
                        list-style: none;
                        position: absolute;
                        top: 50%;
                        left: -174%;
                        li {
                            &:first-child {
                                border-radius: $radius 0 0 0;
                            }
                            &:last-child {
                                border-radius:0 0 $radius $radius;
                            }
                            color: rgba($black,.8);
                            // color: rgba($white,.8);
                            // background: $light-blue;
                            background: $grey;
                            width: 161px;
                            padding: .3rem .7rem;
                            &:hover {
                                // color: $white;
                                color: rgba($black,1);
                            }
                        }
                    }
                }

            }

            h2 {
                display: block;
                margin: 0;
                color: $white;
            }
            .current-work-place {
                margin-top: .2rem;
                display: block;
                font-size: .8em;
                color: rgba($grey,.5);
                width: 60%;
                font-weight: 400;
                    @include media($mobile) {
                        width: 100%;
                    }
            }
        }
    }

    .more-information {
            #overview {
                .current-contacts {
                    @include media($mobile) {
                        display: block;
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                    label {
                        display: block;
                        margin-bottom: 1rem;
                        color: $white;
                        font-weight: 600;
                    }
                    i {
                        font-weight: 600;
                        width: 2rem;
                    }
                    width: 50%;
                    background: rgba($light-blue, .3);
                    border: solid 1px rgba($light-blue,.8);
                    padding: 1rem;
                    border-radius: $radius;
                    position: relative;
                    top: 5px;
                    right: 0;
                    float: right;
                    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
                    span {
                        display: block;
                        line-height: 2rem;
                    }
                }
            }

            #work {
                .item {
                    display: flex;
                    align-items: flex-start;
                    padding-bottom: 1rem;
                    border-bottom: solid 1px rgba($grey,.3);
                    &:last-child {
                        border-bottom: 0;
                    }
                    img {
                        width: 128px;
                        height: 128px;
                        @include media($mobile) {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    .work-information {
                        margin-right: auto;
                        span {
                            display: block;
                        }
                    }
                }
            }
    }

    #education {
        .education-information{
            span {
                display: block;
                &:last-of-type {
                    margin-bottom: 1rem;
                }
            }
            .uploaded-media {
                display: flex;
                margin-top: 1.5rem;
                @include media($mobile) {
                    margin-top: 0;
                }

                span, img {
                    width: 128px;
                    height: 70px;
                    padding: .3rem;
                    @include media($mobile) {
                        width: 90px;
                        height: 60px;
                        padding: .1rem;
                    }
                }
                img {
                    border-radius: $radius;
                    // background: $grey;
                    margin-right: .7rem;
                }
                span.upload-media {
                    border: 1px dashed $green;
                    background: $dark-blue;
                    border-radius: 2px;
                    color: $green;
                    line-height: 0;
                    text-align: center;
                    height: 66px;
                    @include media($mobile) {
                        height: 60px;
                    }
                    i {
                        display: block;
                        font-size: 1.8rem;
                        padding-top: 2%;
                        line-height: 2.7rem;
                        @include media($mobile) {
                            font-size: 1.2rem;
                            line-height: 2.4rem;
                        }
                    }
                    &:hover {
                        background: $green;
                        color: $white;
                        cursor:pointer;
                    }
                }
            }
        }
    }
    
    #register-form, #login-form {
        padding: 0 5rem;
        @include media($mobile) {
            padding: 0 1.1rem;
        }

        .remember-me {
            display: flex;
            text-align: center;
            padding-left: 33%;
            margin-top: 1rem;
            input[type="checkbox"] {
                height: auto !important;
                margin-right: .5rem;
            }
        }
    }

    #account-settings {
        hr {
            border-top: 1px solid rgba($grey,.3);
        }
        input {
            padding-top: 0;
            padding-bottom: 0;
        }
        .languages {
            .edit-input {
                display: flex;
                align-items: center;
                width: 65% !important;
                select {
                    font-size: 80%;
                    margin: 1rem 1rem;
                    margin-top: .3rem;
                    padding: 0 .3rem;
                    height: 2rem;
                    border-radius: $radius;
                    border: solid 1px $grey;
                }
            }
        }
        .language-list {
            width: 90%;
        }
        .language-item {
            display: flex;
        }
        .add-actions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 12%;
            margin-top: 1rem;
            margin-bottom: 2rem;
            button {
                margin-left: 1rem;
            }
        }
        .add-school {
            margin-bottom: 2rem;
            width: 85%;

            @include media($mobile) {
                width: 100%;
            }
        }
        .worked-places {
            width: 100%;
            .item {
                border-bottom: solid 1px rgba($grey,.3);
                padding-bottom: 2rem !important;

                .edit-input {
                    display: flex;
                    margin-right: auto;
                }

                .fileUpload {
                    position: relative;
                    overflow: hidden;
                    padding: .8rem;
                    padding-right: .1rem;
                    span {
                        color: $light-blue;
                        border: dashed 1px $light-blue;
                        padding: .7rem 1rem;
                        border-radius: $radius;
                    }
                    input.upload {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: 0;
                        filter: alpha(opacity=0);
                    }
                }

            }
            img {
                width: 60px;
                height: 60px;
            }
        }
        #work .work-information {
            margin-right: auto;
            span {
                display: block;       
            } 
        }

        button.update-settings {
            display: none;
            @include media($mobile) {
                display: block;
                text-align: center;
                margin: 1rem 0 2rem 0;
            }
        }

        width: 1020px;
        @include media($mobile) {
            width: 100%;
        }

        @include outer-container;
        .form {

            .edit-main-informations {
                @include span-columns(8);
                @include media($mobile) {
                    @include span-columns(4);
                    border-right: 0;
                    padding-right: 0;
                }
                border-right: solid 1px rgba($grey,0);
                padding-right: 1rem;
            }
            .edit-tags {
                @include span-columns(4);
                @include media($mobile) {
                    @include span-columns(4);
                }
                hr {
                    margin: 2rem 0;
                }
                .actions {
                    display: flex;
                    align-items: center;
                    input {
                        background: $white;
                        padding: 0;
                        margin: 0;
                        margin-right: .7rem;
                    }
                }
                ul.added-tags {
                    list-style: none;
                    padding: 0;
                    li {
                        display: inline-block;
                        border-radius: $radius;
                        background: $white;
                        padding: .2rem 1rem;
                        margin: .4rem .2rem;
                        &:hover {
                            background: darken($white, 5%);
                        }
                        a {
                            font-size: .8rem;
                            color: $dark-blue;
                        }
                        i {
                            color: darken($grey,15%);
                            position: relative;
                            right: -7px;
                            &:hover {
                                color: $red;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .edit-current-contacts {
                border-top: solid 1px rgba($grey,.1);
                border-bottom: solid 1px rgba($grey,.1);
                border-radius: $radius;
                margin-bottom: 2rem;
                padding: 0 1rem;
                .item {
                    padding: 0;
                    margin: 0;

                    .edit-input {
                        width: 55%;
                    }
                }
            }

            .edit-profile-picture {
                display: flex;
                @include media($mobile) {
                    display: block;
                }
                .user-profile-picture {
                    width: 12rem;
                    @include media($mobile) {
                        width: 100%;
                    }
                }
                .edit-actions {
                    @include media($mobile) {
                        text-align: center;
                    }
                    .actions {
                        position: relative;
                        right: 0;
                        top: -4.5rem;
                        float: right;
                        @include media($mobile) {
                            float: none;
                            display: block;
                            top: 0;
                        }
                    }
                    p {
                        a {
                            display: inline-block;
                        }
                    }
                    span {
                        font-size: .7rem;
                        display: block;
                        @include media($mobile) {
                            padding: .5rem 3rem;
                        }
                    }
                    strong {
                        display: block;
                        font-weight: 500;
                    }
                }
            }

            .item {
                display: flex;
                margin-bottom: .4rem;
                padding: .2rem 0;
                &:hover {
                    cursor: pointer;
                }
                @include media($mobile) {
                    display: block;
                    padding: 0;
                }

                .edit-input {
                    width: 55%;
                    @include media($mobile) {
                        width: 90%;
                    }

                    span.hint {
                        margin-top: -.5rem;
                    }
                }

                .edit-actions {
                    display: flex;
                    height: 2.4rem;
                    align-items: center;
                    font-size: .8rem;
                    justify-content: flex-end;
                    button {
                        margin: 0 .2rem;
                        margin-top: .4rem;
                    }
                    @include media($mobile) {
                        display: none;
                    }
                }
            }

            input, label {
                display: inline-block;
            }

            label {
                width: 12%;
                text-align: right;
                margin-top: .7rem;
                margin-right: .7rem;
                font-size: .6rem;
                color: $grey;
                font-weight: 500;
                @include media($mobile) {
                    width: 50%;
                    display: block;
                    font-weight: bold;
                    font-size: 8px;
                    text-align: left;
                    margin: 0;
                }
            }

            input, textarea {
                background: $white;
                font-weight: 500;
                border: solid 1px darken($dark-blue,15%);
                @include media($mobile) {
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-top: 0;
                    margin-bottom: .7rem;
                }
                &:focus {
                    background: $white;
                }
                &[type="file"] {
                    border: 0;
                    padding: 0;
                    background: 0;
                    display: block;
                    margin-bottom: 0;
                    font-size: .7rem;
                    font-weight: 300;
                    @include media($mobile) {
                        margin: 1rem auto;
                    }
                }
            }

            span.hint {
                display: block;
            }
        }
    }


    //FORM
    .form-heading {
        text-align: center;
        padding: 1rem 0;
        h1 {
            @include media($mobile) {
                font-size: 1.6rem;
            }
        }
        a {
            color: $light-blue;
            font-weight: 500;
            &:hover {
                border-bottom: solid 1px $light-blue;
            }
        }
    }
    .form {
        &:last-of-type {
            margin-bottom: 3rem;
        }
        label {
            padding-left: .3rem;
            display: block;
            margin: .5rem 0;
            font-weight: 500;

            a {
                color: darken($grey,30%);
                font-size: .7rem;
            }
        }
        input {
            display: block;
            border: solid 1px $grey;
            height: 2rem;
            padding: 1.2rem .7rem;
            margin-top: .3rem;
            margin-bottom: 1rem;
            &:focus {
                border: solid 1px $light-blue;
            }

        }
        a.big-btn {
            margin-top: 2rem;
        }
        span.hint {
            font-size: .8rem;
            letter-spacing: -.005rem;
            color: darken($grey,25%);
        }
    }


}

footer {
    // border-top: solid 1px darken($grey,5%);
    background: lighten($dark-blue,5%);
    padding: 1rem 0;
    font-size: 80%;
    .footer-wrapper {
        @include outer-container;
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: darken($grey, 80%);
        @include media($mobile) {
            display: block;
            padding: 0 1rem;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-right: auto;

        @include media($mobile) {
            display: block;
            @include span-columns(4);
        }

        li {
            display: inline-block;
            margin-right: 1rem;
            @include media($mobile) {
                margin-bottom: .5rem;
            }
        }
    }
    span.copyright {
        font-weight: 500;
        color: white;
        @include media($mobile) {
            display: block;
            @include span-columns(4);
            @include omega();
        }
    }
}
