/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */

// Modal General Styles
$modal-max-width: 650px !default;
$modal-border-radius: 2px !default;
$modal-small-breakpoint: 30em !default;

// Modal Plain Screen Styles
$modal-plain-screen-overlay: #fff !default;

// Set high z-index to appear above all other content
$modal-layer: 999 !default;

// Color configuration
$modal-border-color: $dark-blue !default;
$modal-inner-background: $dark-blue !default;
$modal-color: $grey !default;
$modal-mobile-header: $dark-blue !default;
