//FORM
.form-heading {
    text-align: center;
    padding: 1rem 0;
}

.character {
    &.success-astro img{
        width: 200px;
    }
}

.form {
    label {
        display: block;
        margin: .5rem 0;

        a {
            float: right;
            font-size: 80%;
        }
        &.control, .checkbox {
            margin: 0;
        }
    }
    select, option {
      border: 0;
    }
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="email"],
    textarea {
        display: block;
        margin-top: .3rem;
        margin-bottom: 1rem;
        padding: .5rem .7rem;
        border-radius: $radius;
        width: 100%;
        &.danger {
            border-color: $dangerColor;
        }
        &.small-form {
            font-size: 70%;
        }
        @include dark {
            background: lighten($dark-blue,7%);
            color: $dark-grey;
            border: solid 1px lighten($dark-blue,7%);
            &:focus {
                border-color: rgba($darkSuccessColor,0.8);
            }
        }
        @include light {
            background: $white;
            color: $dark-blue;
            border: solid 1px $grey;
            &:focus {
                border-color: rgba($primaryColor,0.8);
            }
        }
    }
    select {
        background: lighten($dark-blue,7%);
        color: $dark-grey;
        height: 2rem;
        border-radius: $radius;        
    }
    span.hint {
        font-size: .8rem;
        letter-spacing: -.005rem;
        color: darken($grey,25%);
    }

    .btn {
        margin-top: 1rem;
        font-weight: bold;
    }

    .inline-submit-form {
        display: flex;
        input,
        .btn {
            margin-bottom: 0;
            margin-top: 0;
        }
        .btn {
            width: 35%;
        }
    }

    .inline-forms {
        display: flex;
        input {
            width: 48%;
            margin-right: 0.5rem;
        }
    }
    .select {
        @include dark {
            color: $dark-blue;
        }
    }
}

#register-form,
#upload-form,
#login-form,
#forgot-password-form {
    width: 50%;
    margin: 0 auto;
    .alert {
        margin-bottom: 1rem;
    }
    .card {
        padding: 0 4rem;
        padding-bottom: 2rem;
    }
    @include media($mobile) {
        width: 100%;
        .alert {
            width: 100%;
        }
        .card {
            padding: 0 1rem;
            padding-bottom: 1rem;
        }
    }

    .remember-me {
        display: flex;
        align-items: center;
        padding-left: 29%;
        input[type="checkbox"] {
            margin-right: .5rem;
            width: 1rem;
        }
    }
}

#upload-form {
    width: 80%;
    .card {
        padding: 0;
        background: rgba($dark-grey,0.2);
    }
    .left-bar-form {
        @include span-columns(8);
    }
    .right-bar-form {
        @include span-columns(4);
    }
}

// PANEL 

.panel-with-close {
    display: flex;
    align-items: center;
    h1,
    h2,
    h3, {
        margin-right: auto;
    }
}

.panel-heading {
    padding: 1rem;
    background: $dark-blue;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

.panel-content {
    padding: 1rem;
    background: rgba($dark-blue,0.85);
    @include outer-container;
}

//PROGRESS-BAR
.progress {
    background: $grey;
    border-radius: $radius;
    width: 100%;
}

.progress-bar {
    background: $darkSuccessColor;
    border-radius: $radius;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

//SELECTIZE CUSTOMIZE
.selectize-input, 
.selectize-control.single .selectize-input.input-active {
    background: lighten($dark-blue,7%) !important;
    border: solid 0px transparent !important;
}
.selectize-control.multi .selectize-input > div {
    background: $dark-grey !important;
    border-radius: $radius;
}

.selectize-input.dropdown-active::before {
    background: lighten($dark-blue,7%) !important;
}
.selectize-dropdown {
    border: solid 0px lighten($dark-blue,7%) !important;
    background: lighten($dark-blue,7%) !important;
    color: $dark-grey !important;
}

.selectize-dropdown .active {
    background: rgba($dark-grey,0.1) !important;
    color: $white !important;
}

