hr {
    @include dark {
	   border-color: rgba($dark-grey,.05);
    }
}

.inline-items {
    display: flex;
    justify-content: flex-start;
    div {
        margin-right: auto;
    }
}

.hide {
    display: none;
}

.near-top {
    position: relative;
    top: -1rem;
}

.right {
    float: right;
}

.margin-null {
    margin: 0;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}