$skillTagBackground: #9f6faf;
$interestTagBackground: #5BE391;
$addedTagBackground: $dark-grey;

.tag {
    border-radius: $radius;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    padding: 0.2rem 0.8rem;

    a {
        color: $white;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.added-tags {
    span {
        background: $addedTagBackground;
        &:hover {
            background: darken($addedTagBackground, 25%);
            & > a {
                color: $white;
            }
        }
    }
    a {
        color: darken($addedTagBackground, 25%);
    }
    i {
        margin-left: 0.3rem;
        &:hover {
            color: darken($addedTagBackground, 50%);
        }
    }
}

.user-skill-tags {
    margin-top: 1rem;
    span {
        background: $skillTagBackground;
        color: $white;
        &:hover {
            background: darken($skillTagBackground, 25%);
        }
    } 
}

.user-interest-tags {
    span {
        background: darken($interestTagBackground,10%);
        color: $white;
        &:hover {
            background: darken($interestTagBackground,20%);
        }
    } 
}

.filter-cloud-tags {
    a {
        color: $dark-blue;
        font-weight: bold;
    }
    span {
        background: $dark-grey;
        color: $dark-blue;
        &:hover {
            background: darken($dark-grey,10%);
        }
    }
}

.document-tags {
    a {
        color: $dark-blue;
        font-weight: normal;
    }
    span {
        opacity: 0.8;
        padding: 0 0.3rem !important;
        border-radius: $radius;
        background: $dark-grey;
        color: $dark-blue;
        font-size: 90%;
        &:hover {
            background: darken($dark-grey,10%);
        }
    }
}