h1,
h2,
h3,
h4,
h5,
h6 {
    @include dark {
        color: $white;
    }
}

// TEXT ALIGNMENT
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// TEXT SIZES
.small-text {
    font-size: 80%;
}

//TEXT STYLES 
.normal-text {
    font-weight: normal;
}
.bold-text {
    font-weight: bolder;
}

.lower {
    text-transform: lowercase;
}

// MISC

.hint {
    opacity: 0.7;
}

.hight-light {
    font-style: normal;
}

