// TODO 
// Update Header Navigation - Bring its style into _menus.scss

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,vietnamese);
@import "bourbon", "neat";
$mobile: new-breakpoint(max-width 420px 4);

body {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include dark {
      background: lighten($dark-blue,7%);
      color: $white;
    }
    @include light {
      background: $grey;
      color: $black;
    }
}

a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
      text-decoration: underline;
    }
}


input {
    border: 0;
    border-radius: $radius;
}

// SITE LAYOUT & COMPONENTS

header {
    position: fixed;
    background: $dark-blue; 
    height: 61px;
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 99;
    .header-wrapper {
        height: 60px;
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        h1.logo {
            margin: auto 2rem;
            margin-left: 0;
            color: $white;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 700;
            @include media($mobile) {
                margin: auto auto;
                margin-left: 1rem;
            }
        }

        .search {
            @include media($mobile) {
                display: none;
            }
            display: flex;
            margin: auto 0;
            margin-right: auto;
            height: 30px;
            min-width: 320px;
            input {
                padding: .3rem;
                font-size: .9rem;
                width: 80%;
                @include dark {
                  background: lighten($dark-blue,7%);
                  color: $dark-grey;
                }
                &.search__button {
                    background: transparent;
                    color: $white;
                    font-family: FontAwesome;
                    width: 36px;
                    position: relative;
                    left: -36px;
                    color: $black;
                }
            }
            i {
                position: relative;
                left: -8%;
            }
        }

        nav {
            display: block;
            margin-left: auto;
            margin-right: 0;
            margin: auto 0;
            justify-content: flex-end;
            font-size: 80%;
            ul.main-navigation {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: middle;
                justify-content: flex-end;

                li {
                    display: flex;
                    align-items: middle;
                    color: rgba($white,.7);
                    padding: .3rem .7rem;
                    border-radius: $radius;
                    &:hover {
                        color: $white;
                    }
                    span, a, i {
                        display: block;
                        margin: auto 0;
                    }
                    span, i {
                        padding: 0 .2rem;
                    }
                    a {
                        color: rgba($white,.7);
                        &:hover {
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
                li.user-profile-links {
                    span.user-name {
                        max-width: 140px; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    @include media($mobile) {
                        span.user-name {
                            display: none;
                        }
                    }
                    padding: .8rem;
                    img.menu-profile-picture {
                        display: block;
                        width: 36px;
                        height: 36px;
                        border-radius: $radius;
                        margin-right: .5rem;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover > ul.drop-down-list {
                        display: block;
                    }
                }

                ul.drop-down-list {
                    display: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 100%;
                    margin-left: -10rem;
                    background: $dark-blue;
                    border-radius: 0 0 2px 2px;
                    box-shadow: $box-shadow;
                    hr {
                        margin: .2rem 0;
                        border-color: rgba($white,.2);
                    }
                    li {
                        font-size: .8rem;
                        display: block;
                        width: 170px;
                        padding: .5rem 1rem;
                        &.div {
                            border-bottom: solid 1px rgba($grey,.3);
                        }
                        &:first-child {
                            margin-top: .3rem;
                        }
                        &:last-child {
                            margin-bottom: .3rem;
                        }
                        &:hover {
                            background: rgba($white, 0.1);
                        }
                    }
                }

                li.community {
                    @include media($mobile) {
                        display: none;
                    }
                    span, i {
                        display: inline-block;
                    }
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

main {
    // CONTENT WRAPPER
    @include outer-container;
    padding-top: 6rem;
    max-width: 1020px;
    margin: 0 auto;
    // justify-content: center;
    // display: flex;
    // align-items: flex-start;
    @include media($mobile) {
        display: block;
    }
    
    //BASE LAYOUT
    .card {
        padding: 1rem;
        margin-bottom: 2rem;
        @include dark {
          background: $dark-blue;
        }
        @include light {
          background: $white;
        }
        border-radius: $radius;
        box-shadow: $box-shadow;
    }

    .left-bar {
        @include span-columns(9);
        margin-right: auto;
        justify-content: flex-start;
        @include media($mobile) {
            @include span-columns(4);
        }
    }

    .right-bar {
        // background: $white;
        color: transparent;
        @include span-columns(3);
        @include media($mobile) {
            @include span-columns(4);
            @include omega();
        }
    }
}

// PROFILE PAGE 
// - USER PRIMARY DETAILS 

.user-primary-details {
    display: flex;
    align-items: flex-start;
    position: relative;
    .button-group {
        display: flex;
        margin-left: auto;
        position: absolute;
        top: 1rem;
        right: 1rem;
        .dropdown {
            ul {
                min-width: 150px;
            }
        }
    }
}

.user-profile-picture {
    display: block;
    margin-right: 1rem;
    min-width: 160px;
    img {
        border-radius: $radius;
    }
}

.user-details {
    margin-right: auto;
}
.user-real-name {
    display: block;
    margin: 0;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-current-work a {
    color: $dark-grey;
    font-weight: bolder;
}
.user-description {
    display: block;
    font-weight: lighter;
    width: 55%;
    font-size: 75%;
    line-height: 160%;
    margin-top: 0.2rem;
}

// - USER INFORMATION TABS 

.tab-right-sidebar {
    .left-bar {
        @include dark {
            border-right: solid 1px darken($dark-grey,25%);
        }
    }
}

.user-information,
#upload-form {
    .tabs-menu {
        border-bottom: solid 2px darken($dark-grey,25%);
    }
    .tabs-menu li {
        min-width: 20%;
        color: $dark-grey;
        text-align: center;
        i {
            padding: 0 0.3rem;
        }
        &:hover {
            background: $dark-grey;
            a {
                color: $dark-blue;
            }
        }
        a {
            color: $grey;
        }
    }

    .tabs-menu li.current {
        background: darken($dark-grey,25%);
        a {
            color: $white;
        }
    }
    .tab-content {
        padding: 1rem 2rem;
        padding-top: 0;
    }
}

// OVERVIEW TAB

.user-detail-item {
    width: 40%;
    margin: 1rem 0;
    label {
        color: darken($dark-grey,25%);
        padding: 0.5rem 0;
    }
}

#work, 
#education,
#recommendation {
    .user-detail-item {
        width: 100%;
    }
}



// USER ACCOUNT SETTINGS
// - EDIT PROFILE PICTURE 
#edit-profile-picture {
    display: flex;
    .user-profile-picture {
        margin-top: 1rem;
        margin-right: 1rem;
        border-radius: $radius;
    }
}

.uploader {
    display: block;
    strong, input {
        display: block;
        font-weight: normal;
    }
    input[type="file"] {
        padding: 0.5rem 0;
    }
}
// - EDIT USER DETAILS 
#user-details-edit {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: solid 1px darken($dark-grey, 25%);
} 
.edit-form-item {
    width: 75%;
    padding-left: 1rem;
    margin: 2rem 0;
    label {
        display: block;
        color: darken($dark-grey, 15%);
        font-weight: 600;
    }
    .privacy-stt label {
        display: inline-block;
        font-weight: normal;
    }

    .button-group {
        width: 80px;
    }
}

.tab-right-sidebar .right-bar {
    .edit-form-item {
        width: 100%;
        padding-left: 0;
    }
}

.language-item {
    padding-left: 1rem;
}
.language-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    i.fa-caret-right {
        position: relative;
        right: 0.3rem;
    }
    i.fa-plus,
    i.fa-minus {
        margin-left: auto;
        cursor: pointer;
    }
}
.language-skills {
    list-style: none;
    padding-left: 1rem;
    border-left: solid 1px darken($dark-grey, 25%);
}
.language-skills-item {
    display: flex;
    margin: 0.3rem 0;
    span.small-text {
        margin-left: auto;
    }
}
.language-skill-levels {
    margin-left: auto;
    @include dark {
        color: $dark-blue;
    }
}

.added-email-item,
.added-referee-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    span.email {
        font-weight: normal;
    }
    button.btn {
        margin-top: 0;
        margin-left: auto;
    }
}

//WORKED & EDUCATION 

.workedplace-added-item,
.current-work-place,
.school-added-item {
  display: flex;
  align-items: flex-start;
  clear: both;
  a.btn{
    margin-left: auto;
  }
  margin-bottom: 1rem;

  a:last-of-type {
    margin-left: 0.5rem;
  }

}

.workplace-details,
.education-details {
  margin-right: auto;
  padding-bottom: 1rem;
  span {
    display: block;
    font-size: 80%;
    line-height: 180%;
    &.work-position {
        font-size: 100%;
    }
  }
}

.education-details {
  .uploaded-media {
      display: flex;
      margin-top: 1.5rem;
      @include media($mobile) {
          margin-top: 0;
      }

      span, img {
          width: 128px;
          height: 70px;
          padding: .3rem;
          @include media($mobile) {
              width: 90px;
              height: 60px;
              padding: .1rem;
          }
      }
      img {
          border-radius: $radius;
          background: $grey;
          margin-right: .7rem;
      }
      span.upload-media {
          border: 1px dashed $green;
          border-radius: 2px;
          color: $green;
          line-height: 0;
          text-align: center;
          height: 66px;
          @include media($mobile) {
              height: 60px;
          }
          i {
              display: block;
              font-size: 1.8rem;
              padding-top: 2%;
              line-height: 2.7rem;
              @include media($mobile) {
                  font-size: 1.2rem;
                  line-height: 2.4rem;
              }
          }
          &:hover {
              background: $green;
              color: $white;
              cursor:pointer;
          }
      }
  }
}

// RECOMMENDATION & REFEREE

.recommendation-item {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: solid 0.5px rgba($dark-grey,0.1);
}
.recommendation-text {
    h4 {
        color: $grey;
    }
    width: 80%;
    margin: 0;
    padding-left: 1rem;
    color: rgba($dark-grey,0.6);
}
.recommendation-author a {
    color: darken($dark-grey,25%);
}
.recommendation-form {
    padding-bottom: 4rem;
    border-bottom: solid 0.5px rgba($dark-grey,0.1);
    margin-bottom: 1rem;
}

#user-referee-edit {
    color: $grey;
    ul {
        list-style: none;
        padding: 0;
        li {
            line-height: 180%;
        }
    }
}

// UPLOADER 
.document-details {
    span {
        display: inline-block;
    }
    .document-tag {
        display: inline-block;
    }
    .similar-item {
        margin-bottom: 1.5rem;
    }
}

select#new-category {
    margin-top: 1rem;
}

// #upload-form .card .panel-content {
//     position: relative;
// }

.upload-via-url {
    position: absolute;
    bottom: 1.5rem;
}

// FILE LIST
#file-list .card,
#document-view .card {
    @include outer-container;
    aside.right-side-bar {
        @include span-columns(3);
        .filter-cloud-tags {
            margin-top: 1rem;
        }
    }
    .left-content {
        @include span-columns(9);
    }
    .file-list-container {
        position: relative;
        &:first-of-type {
            margin-top: 2rem;
        }
    }
    .file-actions {
        background: $dark-blue;
        padding-bottom: 0.5rem;
        height: 2rem;
        z-index: 99;
        padding: 0 auto;
        &.position-fixed {
            margin-top: 0;
            top: 3.8rem;
            width: 59%;
        }
        span {
            margin-right: 1rem;
            &:hover {
                cursor: pointer;
            }
        }
        .document-publish i {
            color: $successColor;
        }

        .document-remove i {
            color: $dangerColor;
        }
        .document-rename i {
            color: $warningColor;
        }
        .document-transfer i {
            color: $primaryColor;
        }
    }
    .file-list-item {
        padding: 1rem;
        padding-bottom: 0;
        border-bottom: solid 0.5px rgba($dark-grey,0.5);
        position: relative;
        &:hover {
            background: rgba($dark-grey,0.05);
            cursor: pointer;
            .share-button {
                display: block;
            }
        }
        &.selected {
            background: rgba($light-blue,0.1);
            .share-button {
                display: block;
            }
        }
        .share-button {
            display: none;
            position: absolute;
            right: 1rem;
        }
    }
    .file-title {
        font-size: 90%;
        line-height: 160%;
        width: 75%;
        font-weight: normal;
        margin-bottom: 0.3rem;
        color: #E6E984;
        a {
            display: none;
            color: $light-blue;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:hover > a {
            display: inline-block;
        }
    }
    .file-meta {
        font-size: 80%;
    }
    .file-meta .inline-block {
        margin-right: 2rem;
        max-width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .document-tags {
        border: 0 !important;
        padding-top: 0 !important;
    }

    .pagination {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
}

//FILE REQUESTS
#file-request .card {
    width: 60%;
    margin: 0 auto;

    .file-list {
        margin: 0 3rem;
    }
    i.fa-paper-plane {
        font-size: 200%;
        margin-bottom: 1rem;
    }
}

#requests-list {
    .list-item {
        padding: 0.7rem;
    }
    .list-item-text {
        width: 70%;
        overflow: hidden;
        strong {
            color: $dark-grey;
        }
    }
    i.fa-paperclip {
        color: $green;
    }
    i.fa-retweet {
        color: $light-blue;
    }
}

#document-view {
    h4.file-title {
        display: flex;
        width: 75%;
        align-items: center;

        i,
        span {
            margin-right: 0.5rem;
        }
        .document-logo img {
            max-height: .9rem;
            vertical-align: middle;
        }
    }

    .document-side-metas {
        padding-top: 0.5rem;
        label {
            margin-bottom: 0.5rem;
        }
    }

    #added-in-cue {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

// DISCUSSION ROOM
#discussion-room .card {
    @include outer-container;
    aside.left-side-bar {
        @include span-columns(3);
    }
    .right-content {
        @include span-columns(9);
    }

    .discussion-heading {
        display: flex;
        align-items: center;
        background: $dark-blue;
        // width: 58%;
        border-bottom: solid 1px rgba($dark-grey,0.2);
        margin-bottom: 1.5rem;
        // position: fixed;
        h3 {
            margin-right: auto;
        }
    }

    .discussion-posts {
        // margin-top: 5rem;
    }
}

#im-list, #event-list {
    list-style: none;
    padding-left: 0;
    .user-name {
        display: flex;
        align-items: center;
        padding: 0.2rem 0;
    }
    .tiny-pp {
        margin-right: .3rem;
    }
    a {
        color: $dark-grey;
    }

    .changing-topic {
        i {
            color: $warningColor;
            font-size: 80%;
            margin-right: .3rem;
        }
        display: flex;
        align-items: center;
    }
}

.discussion-post-item {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px rgba($dark-grey, 0.1);
    img.small-pp {
        margin-right: 1rem;
    }
}

.discussion-actions {
    // display: none;
}

.discussion-footer {
    border-top: solid 1px lighten($dark-blue, 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 70px;
    background: $dark-blue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .message-input {
        width: 60%;
        margin-left: 1%;
        input[type="text"] {
            margin: 0;
        }
    }
    .attach-file {
        background: lighten($dark-blue, 5%);
        padding: 0.4rem 0.7rem;
        border-radius: $radius;
        margin-left: 1rem;
        i {
            font-size: 16px;
        }
        &:hover {
            cursor: pointer;
            background: $darkSuccessColor;
        }
    }
    button {
        width: 10%;
        margin-left: 1rem;
    }
}

#discussion-new {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        width: 60%;
    }
}