#tabs input[type="radio"].tab-label {
	display: none;
}

#tabs label.tab-label {
	display: inline-block;
	margin-right: 2px;
	border-radius: $radius;
	padding: 14px 20px;
	font-size: 95%;
	cursor:pointer;
	transition:background .1s;
	-webkit-transition:background .1s;
}

.tab {
	min-height: 200px;
	background: transparent;
	display: none;
	padding: 12px;
	color: $white;
}

#toggle-tab1:checked ~ label[for="toggle-tab1"],
#toggle-tab2:checked ~ label[for="toggle-tab2"],
#toggle-tab3:checked ~ label[for="toggle-tab3"],
#toggle-tab4:checked ~ label[for="toggle-tab4"] {
	background: transparent;
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #606060;
	cursor: default;
	font-weight: bolder;
}

#toggle-tab1:checked ~ #tab1,
#toggle-tab2:checked ~ #tab2,
#toggle-tab3:checked ~ #tab3,
#toggle-tab4:checked ~ #tab4 {
	display: block;
}

.tab-right-sidebar {
	@include outer-container;
	padding: 0;
	margin: 0;
    .left-bar {
        @include span-columns(8);
        margin-right: auto;
    }

    .right-bar {
        @include span-columns(4);
        padding-left: 1rem;
    }
}