.tabs-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.tabs-menu li {
    display: inline-block;
    margin-right: 2px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: 14px 20px;
    cursor:pointer;
    transition:background .1s;
    -webkit-transition:background .1s;
    font-weight: bold;
}

.tabs-menu li.current {
    position: relative;
    z-index: 5;
}

.tabs-menu li a {
    text-decoration: none; 
}

.tab {
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    display: none;
}

#overview, 
#upload-from-pc,
#space-members {
    display: block;
}

.tab-right-sidebar {
	@include outer-container;
	padding: 0;
	margin: 0;
    .left-bar {
        @include span-columns(8);
        margin-right: auto;
    }

    .right-bar {
        @include span-columns(4);
        padding-left: 1rem;
    }
}

//TEST 

.tab-nav {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    border-bottom: solid 1px rgba($dark-grey,0.1);
}

.tab-nav__tab {
    display: inline-block;
    padding-bottom: 0.2rem;
    color: rgba($dark-grey, 0.5);
    // Adjacent siblings get a margin-left
    + .tab-nav__tab {
        margin-left: 0.5rem;
        &:hover {
            color: rgba($dark-grey, 0.7);
            border-bottom: solid 1px rgba($dark-grey,0.7);
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &.tab-nav__tab--is-active {
        font-weight: bolder;
        color: rgba($dark-grey,1);
        border-bottom: solid 1px rgba($dark-grey,1);
    }
}