.tabs-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.tabs-menu li {
    display: inline-block;
    margin-right: 2px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: 14px 20px;
    cursor:pointer;
    transition:background .1s;
    -webkit-transition:background .1s;
    font-weight: bold;
}

.tabs-menu li.current {
    position: relative;
    z-index: 5;
}

.tabs-menu li a {
    text-decoration: none; 
}

.tab {
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    display: none;
}

#overview, 
#upload-from-pc {
    display: block;
}

.tab-right-sidebar {
	@include outer-container;
	padding: 0;
	margin: 0;
    .left-bar {
        @include span-columns(8);
        margin-right: auto;
    }

    .right-bar {
        @include span-columns(4);
        padding-left: 1rem;
    }
}