$white: #fff;
$black: #222222;
$grey: #EDEDED;
$dark-grey: #C7D2EB;
$dark-blue: #172633;
$light-blue: #009AFF;
$green: #5BE391;

$primaryColor: #009AFF;
$warningColor: #EF7B41;
$successColor: #6BBD2E;
$dangerColor: #FF3D4C;

$darkSuccessColor: #00CF98;

$lightBorderColor: lighten($grey, 15%);

$box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.32);
$radius: 2px;
$font-family: 'Open Sans', sans-serif; 
